<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APTCMS</title>
    <link  rel="stylesheet" type="text/css" th:href="@{/css/aptcms.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!--ICONS LINK-->
    <link rel="stylesheet" href="https://kit.fontawesome.com/fafd4002bd.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/fafd4002bd.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> 
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel='stylesheet' type='text/css'>
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <style>
    .navbar-brand{
    width:20%;
    
    }
    
    </style>
</head>
<body>
  <div class="fixed">
   <ul class="topnav">
     <li><a href="https://www.facebook.com/profile.php?id=100090510473876"><i class="fa-brands fa-facebook"></i></a></li>
    <li><a href="https://wa.me/+918712655800"><i class="fa-brands fa-whatsapp" ></i></a></li>
    <li><a href="https://www.instagram.com/aptit_solution/"><i class="fa-brands fa-instagram"></i></a></li>
    <li><a href="https://employers.indeed.com/messages?hl=en&co=IN"><i class="fa-brands fa-linkedin" style="margin-top:0px;background-color:blue"></i></a></li>
    <li><a href="https://twitter.com/info_Aptits"><i class="fa-brands fa-twitter"></i></a></li>
    <li><a href="https://www.youtube.com/channel/UC91-ZPPRaaH98GkE10AAhcg"><i class="fa fa-youtube-play" style="font-size:30px;color:red;margin-top:-20px;"></i></a></li>
  
   
  </ul>
  </div>
  <div class="mananav">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <span class="callnow">
            <div class="naree">
              <marquee width="100%">We transform businesses of most major sectors with powerful and adaptable digital solutions that satisfy the needs of today.</marquee>
          </div>
          </span>
        </div>
        <div class="col-md-2">
          <a href="/login"><button class="login" hidden>Login Here</button></a>
        </div>
      </div>
    </div>
  </div>
  
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgb(15, 66, 88);">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index"><img src="images/im.jpg" class="img-fluid" alt="..."></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">          
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="nav-list">
             <li class="nav-item"><a class="nav-link" href="/index">Home</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="/aboutUs">About
								us</a></li>
						<li class="nav-item"><a class="nav-link" href="/training">Trainings</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="/service">Services</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="/solution">Solutions</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="/products">Products</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="/news">News
								& Events</a></li>
						<li class="nav-item"><a class="nav-link" href="/careers">Careers</a>
						</li>

						<li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="/contact">Contact
								Us</a></li>


						<li class="nav-item"><a class="nav-link" href="/payment"><button
									class="payment" hidden>Client Payment</button></a></li>
            </ul>
        </div>
    </div>
  </nav>


<!--text on image-->
<div class="overview">
  <div class="inover">
    <div class="overtext">
      <a href="index.html"><span>Home</span></a>&nbsp;<i class="fa-solid fa-angle-right"></i>&nbsp;&nbsp;<a href="#"><span>APTCMS</span></a>&nbsp;&nbsp;<i class="fa-solid fa-angle-right"></i>&nbsp;&nbsp;
    </div>
    <div class="company">
      <h2>APTCMS</h2>
      </div>
  </div>
</div>

<!--Content-->
<div class="container-fluid jquery sai">
  <div class="container leftside">
  <h5 class="first">A content management system keeps record of each bit of content on your website. Much like your neighborhood library keeps track of books and stores them.</h5>
  <br>
  <p class="second">
    Substance can be –
  </p>
  <ul>
    <li> Basic content</li>
    <li>Photographs</li>
    <li>Music</li>
    <li>Feature</li>
    <li>Reports</li>
    <li>Or pretty much anything you can consider</li>
  </ul>
  <p class="second">We as <b>Apt IT Solutions,</b> builds the CMS system as user would be able to take login into the website/system and can publish, organize, edit and maintain the content.</p>
  
  <p class="second">
    Followings are the advantages of using Content Management System –
  </p>
  <ul>
    <li>Assist content authors in creating and updating content easily</li>
    <li> Relieve technical resources from the burden of being involved in web site updates</li>
    <li> Ensure consistent look and feel and functionality</li>
    <li> Facilitate content reuse and interoperability</li>
    <li>Improve overall quality of web sites</li>
    <li>Enable web site owners to be able to respond to change quickly, at a lowered risk</li>
    <li> Cost effective</li>
    <li>Easy to Update and Manage</li>
    <li>SEO friendly</li>
  </ul>
  
  
 
</div>
</div>
   

	<!--FOOTER-->
	<div class="container-fluid footer"
		style="background-color: #000048; margin-top: -47px;">
		<div class="container">
			<div class="row" style="color: #fff;">

				<div class="col-md-4">
					<h3 class="footerh3">COMPANY</h3>
					<ul class="footerservice">
						<li><a href="/index"><h5>
									<i class="fa fa-angle-right"></i>&nbsp;&nbsp;HOME
								</h5></a></li>
						<li><a href="/aboutUs"><h5>
									<i class="fa fa-angle-right"></i>&nbsp;&nbsp;ABOUT US
								</h5></a></li>
						<li><a href="/training"><h5>
									<i class="fa fa-angle-right"></i>&nbsp;&nbsp;TRAININGS
								</h5></a></li>
					</ul>
					<br> <br> <br> <br> <br> <br> <br>
					<br> <br> <br> <br> <br> <br> 
					<br> <br> <br> <br> 
					<div class="col-sm-4">
					<a
						href="/refund" class="footanchor">Refund Policy</a>
				</div>
				</div>

				<div class="col-md-4">
					<h3 class="footerh3">OUR SERVICES</h3>
					<ul class="footerservice">
						<li><a href="/service"><h5>
									<i class="fa fa-angle-right"></i>&nbsp;&nbsp;SERVICES
								</h5></a></li>
						<li><a href="/solution"><h5>
									<i class="fa fa-angle-right"></i>&nbsp;&nbsp;SOLUTIONS
								</h5></a></li>
						<li><a href="/news"><h5>
									<i class="fa fa-angle-right"></i>&nbsp;&nbsp;PRODUCTS
								</h5></a></li>
					</ul>
					<br> <br> <br> <br> <br> <br> <br>
					<br> <br> <br> <br> <br> <br> 
					<br> <br> <br> <br>
					
						<div class="col-sm-4">
					 <a href="/privacy" class="footanchor">Privacy Policy</a>
				</div>
				</div>

				<div class="col-md-4">
					<h3 class="footerh3">CONTACT INFO</h3>
					<ul class="footerservice">
						<h6>APT IT SOLUTIONS</h6>
						<br>
						<div class="corporate">
							<h5>HYDERABAD 1:</h5>
							<prev>
							<p>1-98/7/3/83 Vaibhav Enclave, 2nd Floor, Block-B, Arunodaya
								Colony, Madhapur, Hyderabad-500081, India. E-mail:
								info@aptits.com</p>
							</prev>
						</div>

						<div class="corporate">
							<h5>HYDERABAD 2:</h5>
							<prev>
							<p>3rd Floor, Sahithi Arcade, Besides SR Nagar Police
								Station, S R Nagar, Hyderabad 500 038, India.</p>
							</prev>
						</div>

						<div class="corporate">
							<h5>PUNE:</h5>
							<prev>
							<p>Office No: 301, 3rd Floor, Walchand House Happy Colony
								Lane-1, Warje Malwadi Rd, Kothrud, Pune, Maharashtra, India Pin:
								411 038</p>
							</prev>
						</div>

						<div class="corporate">
							<h5>BANGALORE:</h5>
							<prev>
							<p>A A ARCADE" 2nd floor, Outer Ring Road Opp-Kala Mandir
								service Road Landmark: Adjacent to AIRTEL office Marathahalli
								Bengaluru 560037 Karnataka, INDIA. +91 91548 29630.
								</p>
							</prev>
						</div>
						
						<div class="corporate">
							<h5>VISAKHAPATNAM :</h5>
							<prev>
							<p>Door 48-7-70/1,
	                           Near Veg Market , NTR Statue,
	                            Ramatakies Down,Srinagar,Visakhapatnam 530016, India
	                             +91 83746 76888.</p>

							</prev>
						</div>
					</ul>
					<br><br>
					
					
		<div class="col-sm-4">
					<a href="/termsandcondition" class="footanchor">Terms&nbsp&nbspand&nbsp&nbspConditions</a>
				</div>
				</div>
			</div>
		</div>
	</div>

	<!--LAST FOOTER -->
	<div class="container-fluid"
		style="background-color: black; color: #fff;">
		<div class="container">
	
			<div class="row lastfooter">
				<div class="col-sm-6" foot>
					<p>© 2023 Apt It Solutions • All Rights Reserved</p>
				</div>

			</div>
	
	</div>
</div>

	<a href="#" class="to-top"> <i class="fa-solid fa-chevron-up"></i>
	</a>






  <script>
    //Change navbar styles on scrolling
window.addEventListener('scroll', () =>{
    document.querySelector('nav').classList.toggle
    ('window-scroll', window.scrollY > 0)
    document.getElementById("mananav").style.display="none";
    
})
</script>

<script>
  const toTop = document.querySelector(".to-top");

  window.addEventListener("scroll", ()=>{
    if(window.pageYOffset > 100){
      toTop.classList.add("active");
    }
    else{
      toTop.classList.remove("active");
    }
  })
</script>
</body>
</html>