<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAYMENTS</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/payment.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!--ICONS LINK-->
    <link rel="stylesheet" href="https://kit.fontawesome.com/fafd4002bd.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/fafd4002bd.js" crossorigin="anonymous"></script>
    
    <style>
    .navbar-brand{
    width:20%;
    
    }
    
    </style>
    
</head>
<body>
<div class="container-fluid back">

    <div class="container">
        <div class="behindback">
        <div class="row">
            <div class="col-lg-7 all">
                <div class="logi">
                <a href="/index"><img src="images/im.jpg" alt=""></a>
                <span class="apt">APT IT SOLUTIONS</span>
            </div>

            <h2>PAYMENT TO APT IT SOLUTIONS</h2>
            <span class="borderbottom"></span>

            <p class="para">Payments are accepted in INR only. After payment success please take screen short  and email to <b>info@aptits.com.</b></p><br><br><br>

            <div class="con">
                <h6 class="terms">Contact Us:</h6>
                <ul>
                    <li><a><i class="fa-sharp fa-solid fa-envelope"></i>&nbsp;&nbsp;info@aptits.com</a></li>
                    <li><a><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;9819880061</a></li>
                </ul>
            </div><br><br><br>
            
            <h6 class="terms">Terms & Conditions:</h6>
            <p class="para">You agree to share information entered on this page with APT IT SOLUTIONS (owner of this page) and Razorpay, adhering to applicable laws.</p>

            </div>
            <div class="col-lg-5 form">
                <div class="myform">
                <form action="">
                    <h5>Payment Details</h5>
                    <span class="borderbottom"></span><br>
                    <label>Amount:</label>
                    <input type="text" placeholder="Amount"><br><br><br>
                    <label>Email:</label>
                    <input type="email" placeholder="Email"><br><br><br>
                    <label>PhoneNumber:</label>
                    <input type="text" placeholder="PhoneNumber">
                </form>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-7">
                            <img src="images/pay_methods_branding.png" alt="" width="100%" height="100%">
                        </div>
                        <div class="col-md-5">
                            <button class="payment">Pay&nbsp;&nbsp;<i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;0.00</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>













</body>
</html>