<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/privacy.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!--ICONS LINK-->
    <link rel="stylesheet" href="https://kit.fontawesome.com/fafd4002bd.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/fafd4002bd.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> 
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel='stylesheet' type='text/css'>
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    
    <style>
    .navbar-brand{
    width:20%;
    
    }
    
    </style>
</head>
<body>
  <div class="fixed">
    <ul class="topnav">
    <li><a href="https://www.facebook.com/profile.php?id=100090510473876"><i class="fa-brands fa-facebook"></i></a></li>
    <li><a href="https://www.instagram.com/aptit_solution/"><i class="fa-brands fa-instagram"></i></a></li>
    <li><a href="https://twitter.com/info_Aptits"><i class="fa-brands fa-twitter"></i></a></li>
      <li><a href="https://www.youtube.com/channel/UC91-ZPPRaaH98GkE10AAhcg"><i class="fa fa-youtube-play" style="font-size:30px;color:red"></i></a></li>
    <li><a href="https://employers.indeed.com/messages?hl=en&co=IN"><i class="fa-brands fa-linkedin"></i></a></li>
   
  </ul>
  </div>
  <div class="mananav">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <span class="callnow">
            <div class="naree">
            <marquee width="100%">We transform businesses of most major sectors with powerful and adaptable digital solutions that satisfy the needs of today.</marquee>
          </div>
          </span>
        </div>
        <div class="col-md-2">
          <a href="/login"><button class="login" hidden>Login Here</button></a>
        </div>
      </div>
    </div>
  </div>
  
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgb(15, 66, 88);">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index"><img src="images/im.jpg" class="img-fluid" alt="..."></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">          
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="nav-list">
             <li class="nav-item"><a class="nav-link" href="/index">Home</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="/aboutUs">About
								us</a></li>
						<li class="nav-item"><a class="nav-link" href="/training">Trainings</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="/service">Services</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="/solution">Solutions</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="/products">Products</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="/news">News
								& Events</a></li>
						<li class="nav-item"><a class="nav-link" href="/careers">Careers</a>
						</li>

						<li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="/contact">Contact
								Us</a></li>


						<li class="nav-item"><a class="nav-link" href="/payment"><button
									class="payment" hidden>Client Payment</button></a></li>
            </ul>
        </div>
    </div>
  </nav>


<!--text on image-->
<div class="overview">
  <div class="inover">
    <div class="overtext">
      <a href="/index"><span>Home</span></a>&nbsp;<i class="fa-solid fa-angle-right"></i>&nbsp;&nbsp;<a href="#"><span>Privacy Policy</span></a>&nbsp;&nbsp;<i class="fa-solid fa-angle-right"></i>&nbsp;&nbsp;
    </div>
    <div class="company">
      <h2>Privacy Policy</h2>
      </div>
  </div>
</div>

<!--Content-->
<div class="container-fluid jquery sai">
  <div class="container">
  <h5 class="first">Information Practices</h5>
  <br>
  <p class="first">APT IT SOLUTIONS had taken every possible precaution to ensure the accuracy of the information on its website; the content is subject to change at any point of time. We would not stand responsible for any damages arising out of the use of the content available on this server.</p>
  <p class="second">
    We assure that all our downloadable training content are free of Virus. However, APT IT SOLUTIONS can accept no liability for damages if accessed through unsafe media or unsecured network resulting virus infection
  </p>

  <p class="first">Information collected by APT IT SOLUTIONS</p>
  <p class="second">
    <ul>
        <li>The information provided by you is totally under your control</li>
        <li>No third party will be given access of your information for any kind of marketing or sold or exchanged.</li>
        <li>Receiving offers from us thru email is solely at your discretion</li>
        <li>Browsing our website can be done without registration. We randomly may collect and store the information that you willingly disclose to us and access our free tests and discussion forums. We do not share your personal information with any third party. We do not collect information from sources like email databases, private/ public organization or bodies about our visitors</li>
        <li>The information collected by us will only be used to contact you to inform you about new products or provide support on your issues via email or telephone. You can unsubscribe at any point if you do not want us to contact you via email.</li>
        <li>Your personal information such as name, telephone number, address(s), e-mail address credit card number, expiration, and CVV number entered by you which is required when you purchase our online products or register for training or Consultancy charges. All transactions are done under highly secured encryption environment (SSL) by our payment gateway service provider and we do not store any such information on our servers.</li>

    </ul>
  </p>

  <p class="first">Information</p>
  <p class="second">
    The cookie that we use is a small text file which resides in your computer hard drive. It is normally used to track website performance and enhance your online experience of our website.
  </p>
 
  <p class="first">External Links</p>
  <p class="second">
    Website aptits.com may include links to other websites that are not owned or controlled by APT IT SOLUTIONS and are purely for educational purpose. You agree that APT IT SOLUTIONS provides links to such websites solely as a convenience and takes no obligation for the content or availability of such websites, and that APT IT SOLUTIONS does not endorse such websites or any products or services associated therewith. Your use of such websites will be subject acceptance of their terms of use.
  </p>

  <p class="first">Copyright information</p>
  <p class="second">
    You are permitted to copy or print the contents of our website provided, you use it only for personal use. APT IT Solutions holds the copyright to all the material/contents on this website. For the purpose other than permitted by the law, a written permission of the copyright holder must be obtained.
  </p>
 
  <p class="first">Sharing your personal information</p>
  <p class="second">
    For anyone who have purchased any of the APT IT SOLUTIONS’s product(s), we may ask you for testimonial. These testimonials will be displayed on our website, photos and videos or in our social media channels such as Facebook, YouTube or Flickr only with your authorization. You should be aware that your publicly identifiable information could be used to send you promotional, unsolicited messages and we are not responsible for your personal information which you have chosen to display.
  </p>
  <p>If you do not want us to publish your pictures/testimonials on our website or on our social media channels, you can write a mail to support@aptits.com</p>

  <p class="first">Personal Information Corrections</p>
  <p class="second">
    You can contact us if you notice that the information, we are holding is incorrect or incomplete. Please send us a mail to support@aptits.com
  </p>

  <p class="first">Privacy Policy Questions?</p>
  <p class="second">
    If you have any questions regarding Privacy Policy, Please write to support@aptits.com if you have any questions regarding Privacy Policy
  </p>

  <p class="first">Changes to Privacy Policy</p>
  <p class="second">
    This privacy policy terms may change time to time and we reserve the right to change the terms of this privacy policy as and when required. All our registered users will be notified by email when we update the privacy policy.
  </p>
  
</div>
</div>
   

	<!--FOOTER-->
	<div class="container-fluid footer"
		style="background-color: #000048; margin-top: -47px;">
		<div class="container">
			<div class="row" style="color: #fff;">

				<div class="col-md-4">
					<h3 class="footerh3">COMPANY</h3>
					<ul class="footerservice">
						<li><a href="/index"><h5>
									<i class="fa fa-angle-right"></i>&nbsp;&nbsp;HOME
								</h5></a></li>
						<li><a href="/aboutUs"><h5>
									<i class="fa fa-angle-right"></i>&nbsp;&nbsp;ABOUT US
								</h5></a></li>
						<li><a href="/training"><h5>
									<i class="fa fa-angle-right"></i>&nbsp;&nbsp;TRAININGS
								</h5></a></li>
					</ul>
					<br> <br> <br> <br> <br> <br> <br>
					<br> <br> <br> <br> <br> <br> 
					<br> <br> <br> <br> 
					<div class="col-sm-4">
					<a
						href="/refund" class="footanchor">Refund Policy</a>
				</div>
				</div>

				<div class="col-md-4">
					<h3 class="footerh3">OUR SERVICES</h3>
					<ul class="footerservice">
						<li><a href="/service"><h5>
									<i class="fa fa-angle-right"></i>&nbsp;&nbsp;SERVICES
								</h5></a></li>
						<li><a href="/solution"><h5>
									<i class="fa fa-angle-right"></i>&nbsp;&nbsp;SOLUTIONS
								</h5></a></li>
						<li><a href="/news"><h5>
									<i class="fa fa-angle-right"></i>&nbsp;&nbsp;PRODUCTS
								</h5></a></li>
					</ul>
					<br> <br> <br> <br> <br> <br> <br>
					<br> <br> <br> <br> <br> <br> 
					<br> <br> <br> <br>
					
						<div class="col-sm-4">
					 <a href="/privacy" class="footanchor">Privacy Policy</a>
				</div>
				</div>

				<div class="col-md-4">
					<h3 class="footerh3">CONTACT INFO</h3>
					<ul class="footerservice">
						<h6>APT IT SOLUTIONS</h6>
						<br>
						<div class="corporate">
							<h5>HYDERABAD 1:</h5>
							<prev>
							<p>1-98/7/3/83 Vaibhav Enclave, 2nd Floor, Block-B, Arunodaya
								Colony, Madhapur, Hyderabad-500081, India. E-mail:
								info@aptits.com</p>
							</prev>
						</div>

						<div class="corporate">
							<h5>HYDERABAD 2:</h5>
							<prev>
							<p>3rd Floor, Sahithi Arcade, Besides SR Nagar Police
								Station, S R Nagar, Hyderabad 500 038, India.</p>
							</prev>
						</div>

						<div class="corporate">
							<h5>PUNE:</h5>
							<prev>
							<p>Office No: 301, 3rd Floor, Walchand House Happy Colony
								Lane-1, Warje Malwadi Rd, Kothrud, Pune, Maharashtra, India Pin:
								411 038</p>
							</prev>
						</div>

						<div class="corporate">
							<h5>BANGALORE:</h5>
							<prev>
							<p>A A ARCADE" 2nd floor, Outer Ring Road Opp-Kala Mandir
								service Road Landmark: Adjacent to AIRTEL office Marathahalli
								Bengaluru 560037 Karnataka, INDIA. +91 91548 29630.
								</p>
							</prev>
						</div>
						
						<div class="corporate">
							<h5>VISAKHAPATNAM :</h5>
							<prev>
							<p>Door 48-7-70/1,
	                           Near Veg Market , NTR Statue,
	                            Ramatakies Down,Srinagar,Visakhapatnam 530016, India
	                             +91 83746 76888.</p>

							</prev>
						</div>
					</ul>
					<br><br>
					
					
		<div class="col-sm-4">
					<a href="/termsandcondition" class="footanchor">Terms&nbsp&nbspand&nbsp&nbspConditions</a>
				</div>
				</div>
			</div>
		</div>
	</div>

	<!--LAST FOOTER -->
	<div class="container-fluid"
		style="background-color: black; color: #fff;">
		<div class="container">
		
			<div class="row lastfooter">
				<div class="col-sm-6" foot>
					<p>© 2023 Apt It Solutions • All Rights Reserved</p>
				</div>

			</div>
	
	</div>
</div>

	<a href="#" class="to-top"> <i class="fa-solid fa-chevron-up"></i>
	</a>


  <script>
    //Change navbar styles on scrolling
window.addEventListener('scroll', () =>{
    document.querySelector('nav').classList.toggle
    ('window-scroll', window.scrollY > 0)
    document.getElementById("mananav").style.display="none";
    
})
</script>

<script>
  const toTop = document.querySelector(".to-top");

  window.addEventListener("scroll", ()=>{
    if(window.pageYOffset > 100){
      toTop.classList.add("active");
    }
    else{
      toTop.classList.remove("active");
    }
  })
</script>
</body>
</html>